<div style="top:10px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Doctor</b>
      <button class="btn btn-success pull-right" [routerLink]="['/manage-doctor']"><b><i class="fas fa-list-ul"></i> Manage Doctors</b></button>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="row">
        <form [formGroup]="docFormGroup" (ngSubmit)="submitDoctorForm()" novalidate>
          <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step>
              <ng-template matStepLabel>Profile</ng-template>
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field>
                    <input matInput placeholder="Full Name" formControlName="NameCtrl" required maxlength="30" minlength="3" pattern="[a-zA-Z ]*">
                    <mat-error *ngIf="NameCtrl.hasError('maxlength')">Max 30 chars</mat-error>
                    <mat-error *ngIf="NameCtrl.hasError('minlength')">Min 3 chars</mat-error>
                    <mat-error *ngIf="NameCtrl.hasError('required')">First Name Required</mat-error>
                    <mat-error *ngIf="NameCtrl.hasError('pattern')">Only letters are allowed</mat-error>
                    <mat-hint align="end">{{NameCtrl.value?.length || 0}} / 30</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field>
                    <mat-select formControlName="QualificationCtrl" placeholder="Choose Qualification" required>
                      <mat-option [value]="">--Qualification--</mat-option>
                      <mat-option *ngFor="let q of QualificationList" [value]="q.Value">
                        {{ q.Value }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="QualificationCtrl.hasError('required')">Qualification required</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field>
                    <input matInput placeholder="Registration No" formControlName="RegistrationNoCtrl" required maxlength="30" minlength="3">
                    <mat-error *ngIf="RegistrationNoCtrl.hasError('maxlength')">Max 30 chars</mat-error>
                    <mat-error *ngIf="RegistrationNoCtrl.hasError('minlength')">Min 3 chars</mat-error>
                    <mat-error *ngIf="RegistrationNoCtrl.hasError('required')">Registration No Required</mat-error>
                    <mat-hint align="end">{{RegistrationNoCtrl.value?.length || 0}} / 30</mat-hint>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field>
                    <mat-select formControlName="SpecialityCtrl" placeholder="Choose Speciality" required>
                      <mat-option [value]="">--Speciality--</mat-option>
                      <mat-option *ngFor="let s of SpecialityList" [value]="s.Value">
                        {{ s.Value }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="SpecialityCtrl.hasError('required')">Speciality required</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-select formControlName="BestDayToMeetCtrl" placeholder="Choose Best Day To Meet" required>
                      <mat-option [value]="">--BestDayToMeet--</mat-option>
                      <mat-option *ngFor="let bd of BestDayToMeetList" [value]="bd.Value">
                        {{ bd.Value }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="BestDayToMeetCtrl.hasError('required')">Best Day To Meet required</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field>
                    <mat-select formControlName="BestTimeToMeetCtrl" placeholder="Choose Best Time To Meet" required>
                      <mat-option [value]="">--BestTimeToMeet--</mat-option>
                      <mat-option *ngFor="let bt of BestTimeToMeetList" [value]="bt.Value">
                        {{ bt.Value }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="BestTimeToMeetCtrl.hasError('required')">Best Time To Meet required</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field>
                    <mat-select formControlName="BrandCtrl" placeholder="Choose Brand" multiple required>
                      <mat-option *ngFor="let b of BrandList" [value]="b.Id">
                        {{ b.Value }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="BrandCtrl.hasError('required')">Brand required</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field>
                    <mat-select formControlName="ClassCtrl" placeholder="Choose Class" required>
                      <mat-option [value]="">--Class--</mat-option>
                      <mat-option *ngFor="let c of ClassList" [value]="c.Value">
                        {{ c.Value }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ClassCtrl.hasError('required')">Class required</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-select formControlName="GenderCtrl" placeholder="Choose Gender" required>
                      <mat-option [value]="">--Gender--</mat-option>
                      <mat-option *ngFor="let g of GenderList" [value]="g.Value">{{g.Value}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="GenderCtrl.hasError('required')">Gender required</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput [min]="minDateDOB" [max]="maxDateDOB" [matDatepicker]="pickerDOB" formControlName="DOBCtrl" placeholder="Date Of Birth" maxlength="10">
                    <mat-datepicker-toggle matSuffix [for]="pickerDOB"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDOB></mat-datepicker>
                    <mat-error *ngIf="DOBCtrl.hasError('matDatepickerParse')">Invalid Date</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput [min]="minDateDOA" [max]="maxDateDOA" [matDatepicker]="pickerDOA" formControlName="DOACtrl" placeholder="Date Of Anniversary" maxlength="10">
                    <mat-datepicker-toggle matSuffix [for]="pickerDOA"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDOA></mat-datepicker>
                    <mat-error *ngIf="DOACtrl.hasError('matDatepickerParse')">Invalid Date</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput [max]="maxDateFoundation" [matDatepicker]="pickerFD" formControlName="FoundationDayCtrl" placeholder="Foundation Day" maxlength="10">
                    <mat-datepicker-toggle matSuffix [for]="pickerFD"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFD></mat-datepicker>
                    <mat-error *ngIf="FoundationDayCtrl.hasError('matDatepickerParse')">Invalid Date</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <mat-form-field>
                    <mat-select formControlName="CommunityCtrl" placeholder="Choose Community" required>
                      <mat-option [value]="">--Community--</mat-option>
                      <mat-option *ngFor="let co of CommunityList" [value]="co.Id">
                        {{ co.Value }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="CommunityCtrl.hasError('required')">Community required</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field>
                    <mat-select formControlName="VisitFrequencyCtrl" placeholder="Choose Visit Frequency" (ngModelChange)="onVisitFrequencyChange($event)" required>
                      <mat-option [value]="">--Visit Frequency--</mat-option>
                      <mat-option *ngFor="let vf of VisitFrequencyList" [value]="vf.Value">{{vf.Value}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="VisitFrequencyCtrl.hasError('required')">Visit Frequency required</mat-error>
                  </mat-form-field>

                  <div formArrayName="VisitPlanCtrl">
                    <div *ngFor="let item of VisitFreqFn.controls; let pointIndex=index" [formGroupName]="pointIndex">
                      <mat-form-field>
                        <input matInput id="VisitPlan{{pointIndex+1}}" placeholder="Visit Plan {{pointIndex+1}}"
                               formControlName="VisitPlans" maxlength="2" minlength="1" pattern="[0-9]*" required>
                        <mat-hint align="end">Only numbers (01 to 26)</mat-hint>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <!--<div class="col-md-6"><pre>{{docFormGroup.value | json}}</pre></div>-->
              </div>

              <div>
                <button mat-mini-fab matStepperNext color="accent" type="button" title="Next"><i class="fas fa-arrow-right"></i></button>
              </div>
            </mat-step>

            <mat-step>
              <ng-template matStepLabel>Address & Contact</ng-template>
              <app-contact-resource [parentForm]="docFormGroup.get('contact')"></app-contact-resource>

              <div class="col-md-12 col-md-push-5" style="margin-top:40px;">
                <button mat-raised-button color="primary" type="submit" [disabled]="!docFormGroup.valid">Save Record</button>
              </div>
              <br />

              <div>
                <button mat-mini-fab matStepperPrevious color="primary" type="button" title="Back"><i class="fas fa-arrow-left"></i></button>&nbsp;
                <!--<button mat-mini-fab matStepperNext color="accent" type="button" title="Next"><i class="fas fa-arrow-right"></i></button>-->
              </div>
            </mat-step>

          </mat-horizontal-stepper>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<app-spinner *ngIf="showSpinner"></app-spinner>
