<div style="top:10px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Chemist List</b>
      <button class="btn btn-info pull-right" style="margin:0px 10px 0px 0px;" (click)="exportExcel()"><b><i class="fas fa-file-excel"></i> Excel</b></button>
      <button class="btn btn-success pull-right"  style="margin:0px 10px 0px 0px;" [routerLink]="['/chemist']"><b><i class="fas fa-plus-square"></i> Add Chemist</b></button>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <!--<div class="row">
        <div class="col-md-3">
          <b>Filter:</b>
          <mat-select placeholder="Choose" [formControl]="mastersControl" [(ngModel)]="selectedMaster" (selectionChange)="getValues()">
            <mat-option>-- None --</mat-option>
            <mat-optgroup *ngFor="let group of mastersGroups" [label]="group.name">
              <mat-option *ngFor="let mst of group.mastersFor" [value]="mst.value">
                {{mst.viewValue}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </div>
      </div>
      <div class="clearfix"></div>
      <br />-->

      <div id="table">
        <table mat-table multiTemplateDataRows [dataSource]="dataSource" class="mat-elevation-z8" style="width:100%">
          <ng-container matColumnDef="MedicalName">
            <th mat-header-cell *matHeaderCellDef> Medical Name </th>
            <td mat-cell *matCellDef="let element">{{element.MedicalName}}</td>
          </ng-container>

          <ng-container matColumnDef="DrugLicenseNo">
            <th mat-header-cell *matHeaderCellDef> Drug License </th>
            <td mat-cell *matCellDef="let element"> {{element.Common.DrugLicenseNo}} </td>
          </ng-container>

          <ng-container matColumnDef="FoodLicenseNo">
            <th mat-header-cell *matHeaderCellDef> Food License </th>
            <td mat-cell *matCellDef="let element"> {{element.Common.FoodLicenseNo}} </td>
          </ng-container>

          <ng-container matColumnDef="GSTNo">
            <th mat-header-cell *matHeaderCellDef> GST No </th>
            <td mat-cell *matCellDef="let element"> {{element.Common.GSTNo}} </td>
          </ng-container>

          <ng-container matColumnDef="BestDayToMeet">
            <th mat-header-cell *matHeaderCellDef> Best Time</th>
            <td mat-cell *matCellDef="let element"> {{element.Common.BestTimeToMeet}} </td>
          </ng-container>

          <ng-container matColumnDef="Area">
            <th mat-header-cell *matHeaderCellDef> Area </th>
            <td mat-cell *matCellDef="let element"> {{element.Contact.Area}} </td>
          </ng-container>

          <ng-container matColumnDef="Class">
            <th mat-header-cell *matHeaderCellDef> Class </th>
            <td mat-cell *matCellDef="let element"> {{element.Class}} </td>
          </ng-container>

          <ng-container matColumnDef="ContactPersonMobileNumber">
            <th mat-header-cell *matHeaderCellDef> Mobile </th>
            <td mat-cell *matCellDef="let element"> {{element.Common.ContactPersonMobileNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="IsActive">
            <th mat-header-cell *matHeaderCellDef> Active </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.AuditableEntity.IsActive; then thenBlock; else elseBlock"> </div>
              <ng-template #thenBlock>
                <div class="yesno yes">Yes</div>
              </ng-template>
              <ng-template #elseBlock>
                <div class="yesno no">No</div>
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.AuditableEntity.IsActive; then thenBlockDelete; else elseBlockDelete"> </div>
              <ng-template #thenBlockDelete>
                <i class="fas fa-edit" style="cursor:pointer;" title="Edit" (click)="onEdit(element)"></i>&nbsp;
                <i class="fas fa-trash" style="cursor:pointer;" title="Delete" (click)="openDialogDelete(element,'delete')"></i>
              </ng-template>
              <ng-template #elseBlockDelete>
                <i class="fas fa-undo" style="cursor:pointer;" title="Un Delete" (click)="openDialogDelete(element,'undelete')"></i>
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="example-element-detail detailBgColor" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <table style="width:100%; vertical-align:top;" border="1">
                  <tr style="vertical-align:top;">
                    <td><label>Address</label></td>
                    <td><label>Contact</label></td>
                    <td><label>DOB</label></td>
                    <td><label>DOA</label></td>
                    <td><label>Foundation Day</label></td>
                    <td><label>Community</label></td>
                  </tr>
                  <tr style="vertical-align:top;">
                    <td>{{element.Contact.Address}} <br /> {{element.Contact.State}} <br />{{element.Contact.City}} <br />{{element.Contact.PinCode}}</td>
                    <td>{{element.Common.ContactPersonName}} <br />{{element.Contact.EmailId}} <br />{{element.Common.ContactPersonMobileNumber}} <br />{{element.Contact.MobileNumber}}</td>
                    <td>{{element.Common.ContactPersonDateOfBirth | date: 'dd-MMM-yyyy'}}</td>
                    <td>{{element.Common.ContactPersonDateOfAnniversary | date: 'dd-MMM-yyyy'}}</td>
                    <td>{{element.AuditableEntity.FoundationDay | date: 'dd-MMM-yyyy'}}</td>
                    <td>{{element.AuditableEntity.CommunityName}}</td>
                  </tr>
                </table>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row" [class.example-expanded-row]="expandedElement === row"
              (click)="expandedElement = expandedElement === row ? null : row"></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

        <mat-paginator #paginator
                       [length]="totalItemsCount"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>

<app-spinner *ngIf="showSpinner"></app-spinner>
